body {
    color: rgb(255, 255, 255);
    background: rgb(248, 141, 207);
}

header {
    border-bottom: solid 2px rgb(0, 0, 0);
    padding: 20px;
    font-size: 32px;
    color: rgb(19, 13, 13);
}